<div class="form wrapper">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Last name" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Profile Name" %>
    <%= f.text_field :profile_name %>
  </div> 
  <div class="field">
    <%= f.label "Email Address" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Job title" %>
    <%= f.text_field :job_title %>
  </div>
    <% if current_user.is_admin == true || User.count(:all) == 1 %>
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
  <div class="panel-body">
    <%= f.label "Member of Admin" %>
    <%= f.check_box :is_admin %>
  </div></div>
  <% end %>
  <% if current_user.is_admin || current_user.is_sales == true %>
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
  <div class="panel-body">
    <%= f.label "Member of Sales" %>
    <%= f.check_box :is_sales %>
  </div></div>
  <% end %>
  <% if current_user.is_admin || current_user.is_finance == true %>
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
  <div class="panel-body">
    <%= f.label "Member of Finance" %>
    <%= f.check_box :is_finance %>
    <%= f.label "Hourly Rate" %>
    <%= f.text_field :hourly_rate %>
  </div></div>
  <% end %>
    <% if current_user.is_admin || current_user.is_support == true %>
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
  <div class="panel-body">
    <%= f.label "Member of Support" %>
    <%= f.check_box :is_support %>
  </div></div>
  <% end %>
    <% if current_user.is_admin || current_user.is_development == true %>
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
  <div class="panel-body">
    <%= f.label "Member of Development" %>
    <%= f.check_box :is_development %>
  </div></div>
  <% end %>
  <% if current_user.id == @user.id  %>
   <div class="field">
    <%= f.label "Password" %>
    <%= f.password_field :password %>
  </div></div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>