<h1>Listing task_activities</h1>

<table>
  <tr>
    <th>Time taken</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_activities.each do |task_activity| %>
  <tr>
    <td><%= task_activity.time_taken %></td>
    <td><%= task_activity.notes %></td>
    <td><%= link_to 'Show', task_activity %></td>
    <td><%= link_to 'Edit', edit_task_activity_path(task_activity) %></td>
    <td><%= link_to 'Destroy', task_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task activity', new_task_activity_path %>
