<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.product_name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.product_description %>
</p>

<p>
  <b>Configs:</b>
  <%= @product.product_configs %>
</p>

<p>
  <b>Date created:</b>
  <%= @product.created_at %>
</p>

<p>
  <b>Created by:</b>
  <%= @product.product_createdby %>
</p>

<p>
  <b>Product orgid:</b>
  <%= link_to @product.product_orgID, :controller => "organisations", :id => @product.product_orgID %>
</p>
<%= link_to 'New Task', new_task_path(@task) %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
